@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
/*========Banner========*/
// .banner .nav-co {
//   background: red;
//   box-shadow: 0px 4px 10px rgba(10, 48, 61, 0.06);
//   position: fixed;
// }
.banner {
  width: 100%;
  height: 49.1vw;
  background-image: url("../data/assets/banner.png");
  background-repeat: no-repeat;
  background-size: 45vw auto;
  background-position: bottom -4.5vw right 5.5vw;
}
.banner_container {
  padding-top: 10vw;
  max-width: calc(100% - 13%);
  margin: auto;
  position: relative;
  top:7vw;
}
.banner_container #banner_h1 {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 3.5vw;
  color: #212e34;
}
.banner_container #banner_p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125vw;
  color: #585858;
  max-width: 31.25vw;
}
.banner_buttons {
  display: flex;
  flex-direction: row;
}
.banner_buttons bannerbtn {
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
}
.banner_buttons bannerbtn:last-child {
  margin-left: 2vw;
}
.banner_buttons button {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125vw;
  color: #ffffff;
  width: 11.75vw;
  height: 3.375vw;
  border-radius: 0.5vw;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.banner_buttons button:hover {
  width: 12.1875vw;
}
.banner_buttons .banner_buttons1 {
  background: #ff4081;
}
.banner_buttons .banner_buttons2 {
  background: #00b3db;
}
.watchvideo .playbutton {
  margin: 0;
}
.watchvideo span {
  margin: 0;
}
.watchvideo #videodiv {
  width: fit-content;
  height: fit-content;
}
.watchvideo {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.8vw;
  cursor: pointer;
}
.watchvideo #videodiv:last-child {
  margin-left: 1vw;
}
/*============video=============*/
#banner_popup {
  width: 100%;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  left: 0;
}
#banner_pop_video {
  width: 64.875vw;
  height: 31.3125vw;
  box-shadow: 0px 0px 0.75vw rgba(15, 36, 44, 0.15);
  border-radius: 0.9375vw;
  background: white;
  position: relative;
}
#banner_pop_close img {
  position: absolute;
  right: 0vw;
  cursor: pointer;
  z-index: 1;
}
#banner_pop_video video {
  width: 100%;
  height: 100%;
  outline: none;
  margin: 0;
}
/*========qrpopup============*/
.banner .cardqr {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.banner .active-cardqr {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
}
#bannerqr #cards_main_container .cardqr {
  display: none;
}
#bannerqr #cards_main_container .active-cardqr {
  display: flex;
}
#bannerqr #qr_conatiner {
  width: 64.875vw;
  background: #ffffff;
  border-radius: 1vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: 7.1875vw 3.5vw;
  border: 1px solid red;
}
#bannerqr #close2 {
  position: absolute;
  right: 0;
  width: 2.1875vw;
  top: 1.25vw;
  right: 1.25vw;
  cursor: pointer;
}
#bannerqr #qr_conatiner_block1 {
  width: 27.6875vw;
  display: flex;
  height: fit-content;
}
#bannerqr #ql_container_matter_container {
  height: fit-content;
  margin-top: auto;
}
#bannerqr #ql_container_matter h1 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5vw;
  line-height: 3.3125vw;
  color: #ff4081;
  margin: 0;
  position: relative;
  text-align: left;
}
#bannerqr #rate2 {
  width: 1vw;
  margin: 0;
  position: absolute;
  top: 0.5vw;
}
#bannerqr #ql_container_matter p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375vw;
  line-height: 1.5vw;
  text-align: justify;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
  margin-top: 1.1875vw;
  width: 25.375vw;
  text-align: left;
}
#bannerqr #qr_container_input_block {
  margin-top: 3.75vw;
}
#bannerqr #qr_container_input_block h1 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25vw;
  line-height: 1.5vw;
  color: #000000;
  margin: 0;
  text-align: left;
}
#bannerqr #qr_container_input_block_container {
  display: grid;
  grid-template-columns: 16.6875vw 10vw;
  gap: 0.9375vw;
  grid-template-rows: 3vw;
  margin-top: 1.625vw;
}
#bannerqr #qr_container_input_block_container_container {
  border: 1px solid #999999;
  box-sizing: border-box;
  border-radius: 0.5vw;
  position: relative;
  overflow: hidden;
}
#bannerqr #qr_container_input_block_container_container input {
  width: 12.8125vw;
  height: 100%;
  position: absolute;
  right: 0;
  border: none;
  outline: none;
  background: transparent;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  color: rgba(33, 46, 52, 0.4);
  padding-right: 0.625vw;
}
#bannerqr #qr_container_input_block_container_container p {
  margin: 0;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 0;
  color: #000000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 6%;
  text-align: left;
}
#bannerqr #qr_container_input_block button {
  left: 21.1875vw;
  top: 21.125vw;
  background: #ff4081;
  border-radius: 0.5vw;
  border: none;
  outline: none;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  color: #ffffff;
  cursor: pointer;
}
#bannerqr #qrs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  width: 100%;
  margin-top: auto;
}
#bannerqr #qu_image_container img {
  margin: 0;
  width: 12vw;
}
#bannerqr #qr_image_button {
  display: flex;
  flex-direction: row;
}
#bannerqr #qr_image_button button {
  width: 10.125vw;
  height: 3vw;
  background: #212e34;
  border-radius: 0.5vw;
  margin: 0;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125vw;
  color: #ffffff;
  position: relative;
  padding-left: 1.875vw;
  border: none;
  outline: none;
  cursor: pointer;
}
#bannerqr #qr_image_button button img {
  margin: 0;
  width: 1.5vw;
  position: absolute;
  left: 0.9375vw;
  top: 50%;
  transform: translateY(-50%);
}
/*====mediaquaries========*/
@media (max-width: 1300px) {
  .banner {
    background-position: bottom -5vw right;
  }
  .banner_container #banner_h1 {
    font-size: 4vw;
    line-height: 1vw;
    margin: 0;
  }
  .banner_container #banner_p {
    font-size: 1.125vw;
    margin: 0;
    margin-top: 3vw;
  }
  .banner_buttons button {
    font-size: 1.5vw;
    width: 15vw;
    height: 4.5vw;
    border-radius: 0.8vw;
    margin-top: 2.5vw;
  }
  .banner_buttons button:hover {
    width: 16vw;
    height: auto;
  }
}
@media (max-width: 650px) {
  .banner {
    background-position: center bottom;
    background-position: center bottom -7vw;
    background-size: 70vw auto;
    padding: 1vw 0;
    height: 97vh;
  }
  .banner_content_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .banner_container {
    text-align: center;
    height: fit-content;
    width: fit-content;
    padding-top: 0;
    margin-top: auto;
  }
  .banner_container #banner_h1 {
    font-size: 6vw;
  }
  .banner_container #banner_p {
    width: 100%;
    margin: auto;
    font-size: 2vw;
    margin-top: 4vw;
    max-width: 70%;
  }
  .banner_buttons {
    width: 100%;
    justify-content: center;
  }
  .watchvideo .playbutton {
    margin: 0;
    width: 4vw;
  }
  .watchvideo span {
    margin: 0;
    font-size: 3.8vw;
  }
  .watchvideo div {
    width: fit-content;
    height: fit-content;
  }
  .watchvideo {
    margin: auto;
    margin-top: 1vw;
  }
}
@media (max-width: 450px) {
  .banner {
    background-size: 70vw auto;
  }
}
