.cards {
  padding: 3.9375vw 0;
}
.cards h1 {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5vw;
  line-height: 0;
  color: #000000;
  text-align: center;
  position: relative;
  top: 3vw;
}
#rate {
  width: 1vw;
  margin: 0;
  position: absolute;
  top: 0.5vw;
}
#card_btns {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#cardbtn2 {
  margin-left: 2vw;
}
.card_container {
  width: 100%;
}
.slidecards {
  width: 100%;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slidecards2 {
  background: white;
}
.slidecards_content {
  width: calc(100% - 17.222222%);
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
  gap: 1vw;
}
.slidecards_content2 .slidecards_svg {
  grid-column: 2/3;
  grid-row: 1/2;
}
.slidecards_svg {
  width: 32vw;
  height: 27.125vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slidecards_svg_container img {
  width: 100%;
  margin: 0;
}
.slidecards_matter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41.8125vw;
}
.slicards_matter_container h2 {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5vw;
  line-height: 3.3125vw;
  color: #ff4081;
  margin: 0;
  position: relative;
}
.slicards_matter_container p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 1.5vw;
  margin: 0;
  margin-top: 0.3125vw;
  text-align: justify;
}
.slicards_matter_container button {
  width: 12.75vw;
  height: 3.375vw;
  background: #ff4081;
  border-radius: 0.5vw;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125vw;
  line-height: 2vw;
  color: #ffffff;
  border: none;
  outline: none;
  margin-top: 1.875vw;
  transition: 0.5s ease-in-out;
}
.slicards_matter_container #cardbtn2 {
  background: #00b3db;
}
.slicards_matter_container button:hover {
  width: 13.3vw;
}
/*=======slidecards=======*/
#slide_cards_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75vw;
  margin-top: 1.875vw;
}
#slide_cards_card1 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 3.125vw 4.5vw;
  background: #ffffff;
  border: 1px solid #5fd4ff;
  box-shadow: 0px 0px 10px rgba(8, 40, 67, 0.15);
  border-radius: 0.75vw;
  padding: 0.2vw;
  transition: 0.5s ease;
}
#slide_cards_card1:hover {
  box-shadow: 0px 0px 10px rgba(8, 40, 67, 0.5);
}
#slide_cards_logo {
  justify-content: center;
  align-items: center;
  display: flex;
}
#slide_cards_logo_container {
  width: 2vw;
}
#slide_cards_logo_container img {
  width: 100%;
  margin: 0;
  height: 100%;
}
#slide_cards_matter_container h6 {
  margin: 0;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 1.375vw;
  text-align: center;
  color: #000000;
  opacity: 0.85;
}
#slide_cards_matter_container p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75vw;
  line-height: 1vw;
  text-align: center;
  color: #000000;
  opacity: 0.85;
  margin: 0;
}
@media (max-width: 1083px) {
  .slidecards_content2 #lap1 {
    width: 20vw;
  }
}
@media (max-width: 800px) {
  #slide_cards_card1 {
    gap: 1vw;
  }
  #slide_cards_logo_container {
    width: 2vw;
    height: fit-content;
  }
  #slide_cards_logo_container img {
    width: 100%;
    margin: 0;
    height: auto;
  }
}
@media (max-width: 650px) {
  .cards h1 {
    font-size: 8vw;
    position: unset;
    margin-top: 10vw;
  }
  .card_container {
    display: grid;
    grid-template-columns: auto;
    gap: 4vw;
  }
  .slidecards {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    padding: 15vw 0;
  }
  .slidecards_content {
    width: fit-content;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    margin: auto;
    gap: 12vw;
  }
  .slidecards_svg {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slidecards_svg_container {
    width: fit-content;
  }
  .slidecards_svg_container #lap1 {
    width: 82vw;
  }
  .slidecards_content2 .slidecards_svg {
    grid-column: auto;
    grid-row: auto;
  }
  .slidecards_content2 .slidecards_svg_container #lap1 {
    width: 50vw;
  }
  .slidecards_matter {
    width: 100%;
  }
  .slicards_matter_container {
    width: 100%;
    padding: 0 4vw;
  }
  .slicards_matter_container h2 {
    font-size: 6vw;
    line-height: 8vw;
  }
  .slicards_matter_container p {
    font-size: 3.5vw;
    line-height: unset;
    margin-top: 2vw;
  }
  #slide_cards_container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 32vw 32vw;
    gap: 3vw;
    margin: 7vw auto auto auto;
  }
  #slide_cards_card1 {
    padding: 1vw;
  }
  #slide_cards_card1 {
    grid-template-rows: 50% 50%;
    border-radius: 3vw;
  }
  #slide_cards_logo_container {
    width: 10vw;
  }
  #slide_cards_matter_container h6 {
    font-size: 3vw;
    line-height: 3vw;
  }
  #slide_cards_matter_container p {
    font-size: 2.8vw;
    line-height: 3vw;
    margin-top: 1vw;
  }
  #card_btns {
    justify-content: center;
    margin-top: 10vw;
  }
  #card_btns button:last-child {
    margin-left: 3vw;
  }
  #card_btns button {
    width: 100%;
    height: 100%;
    border-radius: 1.8vw;
    font-size: 3.3vw;
    width: 36vw;
    height: 10vw;
  }
  #card_btns button a {
    border: 1px solid white;
  }
  #rate {
    width: 3vw;
    margin: 0;
    position: absolute;
    top: 0.5vw;
  }
}
