/*========coreteam=========*/
.coreteam_container {
    padding: 10vw 8.5vw 12vw 8.5vw;
    background-color: white;
}
#coreteam_main_container .content{
  display: none;
}
#coreteam_main_container .active-content{
  display: flex;
}
.coreteam_container h1 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 2.8vw;
    color: #eb2c7d;
    border: none;
    width: fit-content;
    margin: 0;
}
.coreteam_container h1::after {
    content: "";
    display: block;
    width: 7vw;
    height: 0.4vw;
    background: #1481ba;
    position: relative;
    left: 0;
    top: 0.8vw;
}
#coreteam_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:5.0625vw 2.5vw;
  margin-top: 5.9375vw;
}
#coreteam_card1 {
  display: flex;
  flex-direction: row;
  column-gap: 1.9375vw;
}
#coreteam_card_svg {
  width: 9.875vw;
  border-radius: 1vw;
  height: fit-content;
}
#coreteamimg1 {
  width: 100%;
  margin: 0;
}
#coreteam_h1 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25vw;
  line-height: 2vw;
  color: black;
  margin: 0;
}
#coreteam_h2 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125vw;
  line-height: 2vw;
  color: #111111;
  margin: 0;
}
#coreteam_h3 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875vw;
  line-height: 1.5vw;
  color: #555555;
  margin: 0;
}
#coreteam_button {
  width: 8.1875vw;
  height: 2.5vw;
  background: rgba(235, 44, 125, 0.1);
  border-radius: 0.5vw;
  border: none;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 0.75vw;
  color: #eb2c7d;
  position: relative;
  margin: 0;
  padding-right: 2.6vw;
  margin-top: 1.1875vw;
  transition: 0.5s ease;
}
#coreteam_button:hover {
  width: 8.5vw;
}
#cbutton_img{
  position: absolute;
  margin: 0;
  right: 1vw;
  width: 1.25vw;
}
/*============coreteam_cards==================*/
#coreteam_info_main_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100vh;
  background: rgba(0, 0, 0, 1);
  position: fixed;
  top: 0;
  padding: 5vw 0;
  z-index: 10;
}
#close{
  width: 3vw;
  margin: 0;
  position: absolute;
  right: 2.5vw;
  top: 2.5vw;
  cursor: pointer;
}
#coreteam_info {
  background: #ffffff;
  border-radius: 1vw;
  margin: 5vw auto;
  padding: 2.75vw 5.125vw;
  width: fit-content;
  height: fit-content;
  position: relative;
}
#coreteam_info_container{
  width: 64.0625vw;
  height: fit-content;
}
#coreteam_info_card {
  display: flex;
  flex-direction: row;
  column-gap: 1.9375vw;
}
#core_team_info_image {
  width: fit-content;
  height: fit-content;
}
#core_team_info_image img {
  width: 9.875vw;
  margin: 0;
}
#core_team_about_doc {
  margin: auto 0 auto 0;
}
#doc_name {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 1.375vw;
  line-height: 2vw;
  color: #111111;
  margin: 0;
}
#doc_designation {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125vw;
  line-height: 2vw;
  color: #111111;
  margin: 0;
}
#doc_qualification {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 1vw;
  color: #555555;
  margin: 0;
}
#doc_qualification2 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 1vw;
  color: #555555;
  margin: 0;
  margin: 0.5vw 0 0 0;
}
#core_team_info_matter{
  margin-top: 5.6875vw;
}
#core_team_info_matter_container p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375vw;
  line-height: 1.5625vw;
  color: #212e34;
  opacity: 0.9;
  margin-top: 0.6875vw;
  text-align: justify;
}
#core_team_info_matter_border_container{
  width: 7.5vw;
  height: 0.5vw;
  display: flex;
  flex-direction: row;
}
#core_team_info_border1{
  width: 100%;
  height: 100%;
  background: #00B3DB;
}
#core_team_info_border2{
  width: 100%;
  height: 100%;
  background: #FF4081;
}
@media (max-width:600px){
  #coreteam_button {
    margin-top: 0vw;
    position: relative;
    top:-1.7vw;
  }
}
@media (max-width:410px){
  #coreteam_button {
    margin-top: 0vw;
    position: relative;
    top:-2vw;
  }
}
@media (max-width:360px){
  #coreteam_button {
    margin-top: 0vw;
    position: relative;
    top:-2.8vw;
  }
}
@media (max-width:275px){
  #coreteam_button {
    margin-top: 0vw;
    position: relative;
    top:-5vw;
  }
}