/*==========Finddoctors==========*/
.finddoctors {
    background: white;
    height: 100vh;
}
.finddoctors_container {
    max-width: calc(100% - 25%);
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.finddoctors_container_matter {
    padding-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#finddoctors_container_matter_container{
    width: fit-content;
    height: fit-content;
}
.finddoctors_container_matter h1 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5vw;
    color: #000000;
}
.finddoctors_container_matter p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9375vw;
    line-height: 1.5vw;
    color: #000000;
    opacity: 0.7;
    max-width: 27.8125vw;
}
#search_bar {
    width: 27vw;
    height: 3vw;
    background-color: white;
    border: 1px solid #088bff;
    box-sizing: border-box;
    border-radius: 3vw;
    position: relative;
    padding-left: 2.5vw;
    margin-top: 2.25vw;
    overflow: hidden;
}
#search_bar input {
    position: absolute;
    height: 100%;
    outline: none;
    border: none;
    width: 85%;
    margin: 0;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9375vw;
    line-height: 1.5vw;
    color: #000000;
    opacity: 0.4;
}
#search_bar .searchicon {
    position: absolute;
    left: 0.625vw;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    width: 0.875vw;
    cursor: pointer;
}
#finddocbannerimg{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#finddocbannerimg div{
    max-width: 28.625vw;
    height: fit-content;
}
#finddoctors_img {
    width: 100%;
}
