@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap");
#nav_main_div {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 15;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(10, 48, 61, 0.06);
    transition: 0.1s ease;
    padding: 1vw 6vw 1vw 6vw;
}
#nav_icons{
    display: none;
}
.navbar-light .navbar-toggler {
    border: none;
}
#nav_main_div2 {
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 15;
    padding: 1vw 6vw 1vw 6vw;
}
.nav-co .navbar {
    padding: 0;
}
.nav_active {
    outline: none;
    text-decoration: none;
    list-style-type: none;
}
#navbarResponsive #nav_img {
    display: none;
}
#navbarResponsive .toggle {
    display: none;
    border: 0;
    outline: 0;
}
#nav_items {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbtn2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #212e34;
    margin: 0;
}
#navbtn2 {
    list-style-type: none;
    text-decoration: none;
}
.navbtn1 {
    width: 126px;
    height: 48px;
    left: 1177px;
    top: 30px;
    border: 1px solid #db2874;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin: 0;
    text-align: center;
    background: transparent;
    outline: none;
    color: #212e34;
    transition: 0.5s ease;
}
.navbtn1:hover {
    color: white;
    background: #ff4081;
}
.navbtn2 {
    width: 126px;
    height: 48px;
    left: 1177px;
    top: 30px;
    border: 1px solid #db2874;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin: 0;
    margin-left: 1.5vw;
    text-align: center;
    background: #ff4081;
    outline: none;
    color: white;
    transition: 0.5s ease;
}
.navbtn2:hover {
    color: #212e34;
    background: transparent;
}
#navbtn2 {
    margin-right: 2.2vw;
}
#nav_img {
    width: 60px;
    margin: 0;
}
#nav_img img {
    width: 100%;
}
.Navbar {
    padding: 0 4vw 0 5vw;
    margin: auto;
}
#nav_img img {
    margin: 0;
}
.nav-co .navbar-light .navbar-toggler {
    border: none;
}
@media (max-width: 1202px) {
    #nav_items {
        margin-top: 100px;
    }
    #nav_main_div {
        padding: 0;
    }
    #nav_main_div .navbar-light .navbar-toggler {
        border: none;
    }
    #nav_main_div2 {
        padding: 0;
    }
    #nav_img {
        width: 30px;
        margin: 0;
        position: relative;
        left: 2vw;
        z-index: 20;
    }
    .nav-co {
        padding: 0;
    }
    #navbarResponsive {
        height: 100vh;
        background-color: white;
        z-index: 14;
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
    }

    #nav_items {
        display: flex;
        flex-direction: column;
        margin-top: 150px;
    }
    #navbarResponsive #nav_img {
        z-index: 15;
        position: absolute;
        display: block;
    }
    #navbarResponsive .toggle {
        z-index: 15;
        position: absolute;
        right: 0;
        display: block;
        border: none;
        outline: none;
    }
    #navbtn2 {
        font-size: 20px;
        margin-top: 30px;
    }
    .navbtn2 {
        margin-top: 30px;
    }
    .navbtn1 {
        margin-top: 30px;
    }
}
@media (max-width: 650px) {
    #nav_img img {
        width: 80px;
    }
    .toggle {
        position: relative;
        border: none;
        outline: none;
    }
    .navbtn1 {
        width: fit-content;
        height: fit-content;
        left: 0;
        top: 30px;
        border: 0px solid black;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: #212e34;
        margin: 0;
        margin-top: 5vw;
        margin-right: 76vw;
    }
    .navbtn2{
        width: fit-content;
        height: fit-content;
        left: 0;
        top: 30px;
        border: 0px solid transparent;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: #212e34;
        margin: 0;
        background: transparent;
        margin-top: 5vw;
        margin-right: 81vw;
    }
    #nav_items {
        display: flex;
        flex-direction: column;
        border: 0px solid transparent;
        padding-left: 6vw;
        margin-top: 80px;
    }
    #navbtn2{
        margin-right: auto;
    }
    #nav_icons{
        display: flex;
        justify-content: space-around;
        width: fit-content;
        margin: auto;
        z-index: 20;
        margin-top: 40px;
    }
    #nav_icon_cont:first-child{
        margin-left: 0;
    }
    #nav_icon_cont{
        width: fit-content;
        height: fit-content;
        margin-left: 6vw;
        cursor: pointer;
    }
    #nav_icon_cont img{
        margin: 0;
        width: 7vw;
    }
    .navbtn1:hover {
        color: #212e34;
        background:transparent;
    }
    .navbtn2:hover {
        color: #212e34;
        background: transparent;
    }
}
