.ourcustomers {
    padding: 9vw 0;
}
.ourcustomers .carousel-indicators {
    display: none;
}
.ourcustomers h1 {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #000000;
    text-align: center;
    margin: 0;
}
.ourcustomers_video {
    position: relative;
}
#playbtn {
    position: absolute;
    margin: 0;
    right: 0;
    cursor: pointer;
    width: 4vw;
}
.ourcustomers_container {
    max-width: calc(100% - 26.8%);
    margin: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 11vw;
}
.ourcustomers_video {
    height: fit-content;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.15));
}
#video_img {
    margin: 0;
    width: 100%;
}
.ourcustomers_matter {
    width: fit-content;
    margin: auto;
    padding: 0 50px;
    position: relative;
}
#quatation {
    width: 59px;
    position: absolute;
    right: 50px;
    opacity: 0.2;
}
.ourcustomers_doc_details {
    margin-top: 19px;
}
.ourcustomers_matter h2 {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #ff4081;
    margin-top: 10px;
}
.ourcustomers_matter p {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    opacity: 0.7;
    margin: 0;
    text-align: justify;
}
#doc_name {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    opacity: 1;
}
#doc_address {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #000000;
    opacity: 0.7;
}
/*=======mediaquaries==========*/
@media (max-width: 1341px) {
    .ourcustomers h1 {
        font-size: 4vw;
    }
    .ourcustomers_container {
        margin-top: 10vw;
    }
    .ourcustomers_matter {
        padding: 0 2vw;
    }
    .ourcustomers_matter h2 {
        font-size: 1.5vw;
        margin: 0;
        line-height: 4vw;
    }
    #quatation {
        width: 4vw;
        right: 4vw;
    }
    .ourcustomers_matter_head p {
        font-size: 1.1vw;
        width: 37vw;
        line-height: 1.5vw;
        margin-top: 0;
    }
    .ourcustomers_doc_details {
        margin-top: 2vw;
    }
    #doc_name {
        font-size: 1.5vw;
        line-height: 1vw;
    }
    #doc_address {
        font-size: 1.3vw;
        line-height: 2.5vw;
    }
}
@media (max-width: 700px) {
    .ourcustomers {
        padding: 9vw 0 20vw 0;
    }
}
