#patners h1 {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5vw;
  line-height: 5.625vw;
  color: #000000;
  text-align: center;
  margin: 0;
}
#patners {
  padding: 7.8125vw 8.125vw;
  background: white;
}
#patners_container {
  width: calc(100% - 18.05555%);
  margin: auto;
  margin-top: 4.625vw;
}
#patner_container_main {
  display: flex;
  justify-content: center;
  align-items: center;
}
#patners_container {
  display: grid;
  grid-template-columns: repeat(3, 11.25vw);
  gap: 4vw;
  grid-template-rows: 11.25vw 11.25vw;
  width: fit-content;
  height: fit-content;
}
#patners_image_card {
  background: #ffffff;
  box-shadow: 0px 0px 18.3631px rgba(79, 10, 39, 0.1);
  border-radius: 0.91815625vw;
  padding: 1vw 0.875vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}
#patners_image_card:hover {
  box-shadow: 0px 0px 2vw rgba(79, 10, 39, 0.2);
}
#patners_image_container {
  width: fit-content;
  height: fit-content;
}
#patners_image_card:nth-child(1) #patners_image_container img {
  margin: 0;
  width: 8.920625vw;
  height: 3.955vw;
}
#patners_image_card:nth-child(2) #patners_image_container img {
  margin: 0;
  width: 4.9975vw;
  height: 6.14vw;
}
#patners_image_card:nth-child(3) #patners_image_container img {
  margin: 0;
  width: 7.625vw;
  height: 3.5vw;
}
#patners_image_card:nth-child(4) #patners_image_container img {
  margin: 0;
  width: 6.656875vw;
  height: 7.97625vw;
}
#patners_image_card:nth-child(5) #patners_image_container img {
  margin: 0;
  width: 10.1vw;
  height: 6.599375vw;
}
#patners_image_card:nth-child(6) #patners_image_container img {
  margin: 0;
  width: 8.5vw;
  height: 3.1875vw;
}
@media (max-width: 1237px) {
  #patners_image_container img {
    width: 5.2vw;
  }
}
@media (max-width: 650px) {
  #patners h1 {
    font-size: 7vw;
  }
  #patners {
    padding: 9.5vw 4vw;
    background: white;
  }
  #patners_container {
    width: calc(100% - 8%);
    margin: auto;
    margin-top: 4.625vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4vw;
    grid-template-rows: 25vw 25vw;
    width: 100%;
  }
  #patners_container {
    margin-top: 10vw;
  }
  #patners_image_card {
    border-radius: 2.8vw;
  }
  #patners_image_card:nth-child(1) #patners_image_container img {
    margin: 0;
    width: 22vw;
    height: 10vw;
  }
  #patners_image_card:nth-child(2) #patners_image_container img {
    margin: 0;
    width: 14vw;
    height: 15vw;
  }
  #patners_image_card:nth-child(3) #patners_image_container img {
    margin: 0;
    width: 18vw;
    height: 8vw;
  }
  #patners_image_card:nth-child(4) #patners_image_container img {
    margin: 0;
    width: 22vw;
    height: 20vw;
  }
  #patners_image_card:nth-child(5) #patners_image_container img {
    margin: 0;
    width: 24vw;
    height: 18vw;
  }
  #patners_image_card:nth-child(6) #patners_image_container img {
    margin: 0;
    width: 20vw;
    height: 9vw;
  }
}
