/*===========Patner============*/
.patner {
    background: white;
    padding: 12vw 0;
}
.patner_container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    max-width: calc(100% - 18%);
    margin: auto;
}
.conten1_title h1 {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1.75vw;
    text-align: center;
    color: #000000;
}
.patner_container_content1 .conten1_img {
    width: fit-content;
    margin: auto;
    margin-top: 4.8125vw;
}
#overlapimg {
    width: auto;
    max-width: 27.6875vw;
}

.patner_container_conten2 .conten1_img {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    row-gap: 2vw;
}
#startup {
    width: auto;
    max-width: 13.0625vw;
    margin: 0;
}
#msme {
    width: auto;
    max-width: 10.5vw;
    margin: 0;
}
#gem {
    width: auto;
    max-width: 11vw;
    margin: 0;
}